# Import respective Libraries

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("lung_cancer.csv")
df

,PATIENT_ID,GENOMIC SEX,AGE,BLOOD_TYPE,NUMBER_OF_SIBLINGS,YEAR_OF_BIRTH,ADOPTED_STATUS,NUMBER_OF_PREGNANCIES,MONTH_OF_BIRTH,PARENT_ALIVE,...,Constant_Exhaustion,FATIGUE,ALLERGY,WHEEZING,ALCOHOL_CONSUMPTION,COUGHING,SHORTNESS_OF_BREATH,SWALLOWING_DIFFICULTY,CHEST_PAIN,LUNG_CANCER
0,A10230,M,69,A,5.0,1945.0,1,NaN,1,3,...,Yes,2.0,1,2.0,2,2,2.0,2,2,YES
1,A10231,M,74,B,1.0,1940.0,1,NaN,10,2,...,Yes,2.0,2,1.0,1,1,2.0,2,2,YES
2,A10232,F,59,AB,0.0,1955.0,1,5.0,10,2,...,Yes,2.0,1,2.0,1,2,2.0,1,2,NO
3,A10233,M,63,O,3.0,1951.0,1,NaN,8,2,...,No,1.0,1,1.0,2,1,1.0,2,2,NO
4,A10234,F,63,A,4.0,1951.0,1,3.0,5,1,...,No,1.0,1,2.0,1,2,2.0,1,1,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1115,A11345,FEMALE,57,A,3.0,1957.0,1,1.0,12,3,...,Yes,2.0,1,2.0,2,2,1.0,1,1,NO
1116,A11346,FEMALE,51,A,2.0,1963.0,1,0.0,11,2,...,No,1.0,1,1.0,1,1,2.0,1,2,NO
1117,A11347,FEMALE,65,A,1.0,1949.0,1,2.0,7,1,...,Yes,2.0,1,2.0,1,2,1.0,1,1,NO
1118,A11348,FEMALE,57,A,2.0,1957.0,1,5.0,1,1,...,Yes,2.0,1,2.0,1,2,1.0,1,1,NO
1119,A11349,FEMALE,20,A,1.0,1994.0,1,1.0,7,1,...,No,1.0,1,1.0,1,1,1.0,1,2,NO

# Check the null Values

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1120 entries, 0 to 1119
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   PATIENT_ID             1120 non-null   object
 1   GENOMIC SEX            1101 non-null   object
 2   AGE                    1117 non-null   object
 3   BLOOD_TYPE             1120 non-null   object
 4   NUMBER_OF_SIBLINGS     1114 non-null   float64
 5   YEAR_OF_BIRTH          1119 non-null   float64
 6   ADOPTED_STATUS         1120 non-null   int64
 7   NUMBER_OF_PREGNANCIES  546 non-null    float64
 8   MONTH_OF_BIRTH         1120 non-null   int64
 9   PARENT_ALIVE           1120 non-null   int64
 10  SMOKING_STATUS         1120 non-null   int64
 11  DAILY_CIGARETTES       617 non-null    object
 12  YELLOW_SKIN            1120 non-null   int64
 13  ANXIETY                1120 non-null   int64
 14  PEER_PRESSURE          1120 non-null   int64
 15  COPD_DIAGNOSES         1102 non-null   float64
 16  Constant_Exhaustion    1115 non-null   object
 17  FATIGUE                1115 non-null   float64
 18  ALLERGY                1120 non-null   int64
 19  WHEEZING               1110 non-null   float64
 20  ALCOHOL_CONSUMPTION    1120 non-null   int64
 21  COUGHING               1120 non-null   int64
 22  SHORTNESS_OF_BREATH    1116 non-null   float64
 23  SWALLOWING_DIFFICULTY  1120 non-null   int64
 24  CHEST_PAIN             1120 non-null   int64
 25  LUNG_CANCER            1117 non-null   object
dtypes: float64(7), int64(12), object(7)
memory usage: 227.6+ KB

# Drop the unwanted columns

In [4]:
# List of columns to drop
columns_to_drop = ['PATIENT_ID','ADOPTED_STATUS','NUMBER_OF_PREGNANCIES','MONTH_OF_BIRTH','YEAR_OF_BIRTH','Constant_Exhaustion']

# Filter out columns that are not in the DataFrame
existing_columns_to_drop = [col for col in columns_to_drop if col in df.columns]

# Drop the existing columns
df.drop(existing_columns_to_drop, axis=1, inplace=True)

In [5]:
df['GENOMIC SEX'] = df['GENOMIC SEX'].str.replace('FEMALE','F',regex=True)
df['GENOMIC SEX'] = df['GENOMIC SEX'].str.replace('MALE','M',regex=True)

In [6]:
df

,GENOMIC SEX,AGE,BLOOD_TYPE,NUMBER_OF_SIBLINGS,PARENT_ALIVE,SMOKING_STATUS,DAILY_CIGARETTES,YELLOW_SKIN,ANXIETY,PEER_PRESSURE,COPD_DIAGNOSES,FATIGUE,ALLERGY,WHEEZING,ALCOHOL_CONSUMPTION,COUGHING,SHORTNESS_OF_BREATH,SWALLOWING_DIFFICULTY,CHEST_PAIN,LUNG_CANCER
0,M,69,A,5.0,3,1,NaN,2,2,1,1.0,2.0,1,2.0,2,2,2.0,2,2,YES
1,M,74,B,1.0,2,2,29,1,1,1,2.0,2.0,2,1.0,1,1,2.0,2,2,YES
2,F,59,AB,0.0,2,1,NaN,1,1,2,1.0,2.0,1,2.0,1,2,2.0,1,2,NO
3,M,63,O,3.0,2,2,20,2,2,1,1.0,1.0,1,1.0,2,1,1.0,2,2,NO
4,F,63,A,4.0,1,1,NaN,2,1,1,1.0,1.0,1,2.0,1,2,2.0,1,1,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1115,F,57,A,3.0,3,1,NaN,1,1,1,2.0,2.0,1,2.0,2,2,1.0,1,1,NO
1116,F,51,A,2.0,2,2,21,1,2,1,1.0,1.0,1,1.0,1,1,2.0,1,2,NO
1117,F,65,A,1.0,1,1,NaN,2,1,1,1.0,2.0,1,2.0,1,2,1.0,1,1,NO
1118,F,57,A,2.0,1,2,21,1,2,1,2.0,2.0,1,2.0,1,2,1.0,1,1,NO
1119,F,20,A,1.0,1,1,NaN,1,1,1,1.0,1.0,1,1.0,1,1,1.0,1,2,NO

In [7]:
# Define mappings
sex_mapping = {'M': 1, 'F': 0}
blood_type_mapping = {'A': 0, 'B': 1, 'AB': 2, 'O': 3}
yes_no_mapping = {'YES': 2, 'NO': 1}

# Apply mappings
df['GENOMIC SEX'] = df['GENOMIC SEX'].map(sex_mapping)
df['BLOOD_TYPE'] = df['BLOOD_TYPE'].map(blood_type_mapping)
#df['Constant_Exhaustion'] = df['Constant_Exhaustion'].map(yes_no_mapping)
df['LUNG_CANCER'] = df['LUNG_CANCER'].map(yes_no_mapping)

In [8]:
df

,GENOMIC SEX,AGE,BLOOD_TYPE,NUMBER_OF_SIBLINGS,PARENT_ALIVE,SMOKING_STATUS,DAILY_CIGARETTES,YELLOW_SKIN,ANXIETY,PEER_PRESSURE,COPD_DIAGNOSES,FATIGUE,ALLERGY,WHEEZING,ALCOHOL_CONSUMPTION,COUGHING,SHORTNESS_OF_BREATH,SWALLOWING_DIFFICULTY,CHEST_PAIN,LUNG_CANCER
0,1.0,69,0.0,5.0,3,1,NaN,2,2,1,1.0,2.0,1,2.0,2,2,2.0,2,2,2.0
1,1.0,74,1.0,1.0,2,2,29,1,1,1,2.0,2.0,2,1.0,1,1,2.0,2,2,2.0
2,0.0,59,2.0,0.0,2,1,NaN,1,1,2,1.0,2.0,1,2.0,1,2,2.0,1,2,1.0
3,1.0,63,3.0,3.0,2,2,20,2,2,1,1.0,1.0,1,1.0,2,1,1.0,2,2,1.0
4,0.0,63,0.0,4.0,1,1,NaN,2,1,1,1.0,1.0,1,2.0,1,2,2.0,1,1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1115,0.0,57,0.0,3.0,3,1,NaN,1,1,1,2.0,2.0,1,2.0,2,2,1.0,1,1,1.0
1116,0.0,51,0.0,2.0,2,2,21,1,2,1,1.0,1.0,1,1.0,1,1,2.0,1,2,1.0
1117,0.0,65,0.0,1.0,1,1,NaN,2,1,1,1.0,2.0,1,2.0,1,2,1.0,1,1,1.0
1118,0.0,57,0.0,2.0,1,2,21,1,2,1,2.0,2.0,1,2.0,1,2,1.0,1,1,1.0
1119,0.0,20,0.0,1.0,1,1,NaN,1,1,1,1.0,1.0,1,1.0,1,1,1.0,1,2,1.0

# Categorical to numerical

In [9]:
# Convert columns to numeric
df['DAILY_CIGARETTES'] = pd.to_numeric(df['DAILY_CIGARETTES'], errors='coerce')
df['COPD_DIAGNOSES'] = pd.to_numeric(df['COPD_DIAGNOSES'], errors='coerce')
df['WHEEZING'] = pd.to_numeric(df['WHEEZING'], errors='coerce')
df['SHORTNESS_OF_BREATH'] = pd.to_numeric(df['SHORTNESS_OF_BREATH'], errors='coerce')

# Missing values filling

In [10]:
# Fill missing values
df['DAILY_CIGARETTES'].fillna(df['DAILY_CIGARETTES'].median(), inplace=True)
df['COPD_DIAGNOSES'].fillna(df['COPD_DIAGNOSES'].median(), inplace=True)
df['WHEEZING'].fillna(df['WHEEZING'].median(), inplace=True)
df['SHORTNESS_OF_BREATH'].fillna(df['SHORTNESS_OF_BREATH'].median(), inplace=True)

C:\Users\Vergeena\AppData\Local\Temp\ipykernel_2260\2443190508.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['DAILY_CIGARETTES'].fillna(df['DAILY_CIGARETTES'].median(), inplace=True)
C:\Users\Vergeena\AppData\Local\Temp\ipykernel_2260\2443190508.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['COPD_DIAGNOSES'].fillna(df['COPD_DIAGNOSES'].median(), inplace=True)
C:\Users\Vergeena\AppData\Local\Temp\ipykernel_2260\2443190508.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['WHEEZING'].fillna(df['WHEEZING'].median(), inplace=True)
C:\Users\Vergeena\AppData\Local\Temp\ipykernel_2260\2443190508.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['SHORTNESS_OF_BREATH'].fillna(df['SHORTNESS_OF_BREATH'].median(), inplace=True)

In [11]:
df

,GENOMIC SEX,AGE,BLOOD_TYPE,NUMBER_OF_SIBLINGS,PARENT_ALIVE,SMOKING_STATUS,DAILY_CIGARETTES,YELLOW_SKIN,ANXIETY,PEER_PRESSURE,COPD_DIAGNOSES,FATIGUE,ALLERGY,WHEEZING,ALCOHOL_CONSUMPTION,COUGHING,SHORTNESS_OF_BREATH,SWALLOWING_DIFFICULTY,CHEST_PAIN,LUNG_CANCER
0,1.0,69,0.0,5.0,3,1,17.0,2,2,1,1.0,2.0,1,2.0,2,2,2.0,2,2,2.0
1,1.0,74,1.0,1.0,2,2,29.0,1,1,1,2.0,2.0,2,1.0,1,1,2.0,2,2,2.0
2,0.0,59,2.0,0.0,2,1,17.0,1,1,2,1.0,2.0,1,2.0,1,2,2.0,1,2,1.0
3,1.0,63,3.0,3.0,2,2,20.0,2,2,1,1.0,1.0,1,1.0,2,1,1.0,2,2,1.0
4,0.0,63,0.0,4.0,1,1,17.0,2,1,1,1.0,1.0,1,2.0,1,2,2.0,1,1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1115,0.0,57,0.0,3.0,3,1,17.0,1,1,1,2.0,2.0,1,2.0,2,2,1.0,1,1,1.0
1116,0.0,51,0.0,2.0,2,2,21.0,1,2,1,1.0,1.0,1,1.0,1,1,2.0,1,2,1.0
1117,0.0,65,0.0,1.0,1,1,17.0,2,1,1,1.0,2.0,1,2.0,1,2,1.0,1,1,1.0
1118,0.0,57,0.0,2.0,1,2,21.0,1,2,1,2.0,2.0,1,2.0,1,2,1.0,1,1,1.0
1119,0.0,20,0.0,1.0,1,1,17.0,1,1,1,1.0,1.0,1,1.0,1,1,1.0,1,2,1.0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1120 entries, 0 to 1119
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   GENOMIC SEX            1101 non-null   float64
 1   AGE                    1117 non-null   object
 2   BLOOD_TYPE             1117 non-null   float64
 3   NUMBER_OF_SIBLINGS     1114 non-null   float64
 4   PARENT_ALIVE           1120 non-null   int64
 5   SMOKING_STATUS         1120 non-null   int64
 6   DAILY_CIGARETTES       1120 non-null   float64
 7   YELLOW_SKIN            1120 non-null   int64
 8   ANXIETY                1120 non-null   int64
 9   PEER_PRESSURE          1120 non-null   int64
 10  COPD_DIAGNOSES         1120 non-null   float64
 11  FATIGUE                1115 non-null   float64
 12  ALLERGY                1120 non-null   int64
 13  WHEEZING               1120 non-null   float64
 14  ALCOHOL_CONSUMPTION    1120 non-null   int64
 15  COUGHING               1120 non-null   int64
 16  SHORTNESS_OF_BREATH    1120 non-null   float64
 17  SWALLOWING_DIFFICULTY  1120 non-null   int64
 18  CHEST_PAIN             1120 non-null   int64
 19  LUNG_CANCER            1114 non-null   float64
dtypes: float64(9), int64(10), object(1)
memory usage: 175.1+ KB

In [13]:
df['NUMBER_OF_SIBLINGS'].fillna(0,inplace=True)

C:\Users\Vergeena\AppData\Local\Temp\ipykernel_2260\3702151541.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['NUMBER_OF_SIBLINGS'].fillna(0,inplace=True)

In [14]:
# Step 1: Convert non-numeric values to NaN
df['AGE'] = pd.to_numeric(df['AGE'], errors='coerce')

# Step 2: Calculate the mean of the 'AGE' column, excluding NaN values
mean_age = df['AGE'].mean()

# Step 3: Fill NaN values with the mean_age
df['AGE'].fillna(mean_age, inplace=True)

# Step 4: Convert the 'AGE' column to integer type
df['AGE'] = df['AGE'].astype(int)

C:\Users\Vergeena\AppData\Local\Temp\ipykernel_2260\1613077543.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['AGE'].fillna(mean_age, inplace=True)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1120 entries, 0 to 1119
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   GENOMIC SEX            1101 non-null   float64
 1   AGE                    1120 non-null   int32
 2   BLOOD_TYPE             1117 non-null   float64
 3   NUMBER_OF_SIBLINGS     1120 non-null   float64
 4   PARENT_ALIVE           1120 non-null   int64
 5   SMOKING_STATUS         1120 non-null   int64
 6   DAILY_CIGARETTES       1120 non-null   float64
 7   YELLOW_SKIN            1120 non-null   int64
 8   ANXIETY                1120 non-null   int64
 9   PEER_PRESSURE          1120 non-null   int64
 10  COPD_DIAGNOSES         1120 non-null   float64
 11  FATIGUE                1115 non-null   float64
 12  ALLERGY                1120 non-null   int64
 13  WHEEZING               1120 non-null   float64
 14  ALCOHOL_CONSUMPTION    1120 non-null   int64
 15  COUGHING               1120 non-null   int64
 16  SHORTNESS_OF_BREATH    1120 non-null   float64
 17  SWALLOWING_DIFFICULTY  1120 non-null   int64
 18  CHEST_PAIN             1120 non-null   int64
 19  LUNG_CANCER            1114 non-null   float64
dtypes: float64(9), int32(1), int64(10)
memory usage: 170.8 KB

In [16]:
df

,GENOMIC SEX,AGE,BLOOD_TYPE,NUMBER_OF_SIBLINGS,PARENT_ALIVE,SMOKING_STATUS,DAILY_CIGARETTES,YELLOW_SKIN,ANXIETY,PEER_PRESSURE,COPD_DIAGNOSES,FATIGUE,ALLERGY,WHEEZING,ALCOHOL_CONSUMPTION,COUGHING,SHORTNESS_OF_BREATH,SWALLOWING_DIFFICULTY,CHEST_PAIN,LUNG_CANCER
0,1.0,69,0.0,5.0,3,1,17.0,2,2,1,1.0,2.0,1,2.0,2,2,2.0,2,2,2.0
1,1.0,74,1.0,1.0,2,2,29.0,1,1,1,2.0,2.0,2,1.0,1,1,2.0,2,2,2.0
2,0.0,59,2.0,0.0,2,1,17.0,1,1,2,1.0,2.0,1,2.0,1,2,2.0,1,2,1.0
3,1.0,63,3.0,3.0,2,2,20.0,2,2,1,1.0,1.0,1,1.0,2,1,1.0,2,2,1.0
4,0.0,63,0.0,4.0,1,1,17.0,2,1,1,1.0,1.0,1,2.0,1,2,2.0,1,1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1115,0.0,57,0.0,3.0,3,1,17.0,1,1,1,2.0,2.0,1,2.0,2,2,1.0,1,1,1.0
1116,0.0,51,0.0,2.0,2,2,21.0,1,2,1,1.0,1.0,1,1.0,1,1,2.0,1,2,1.0
1117,0.0,65,0.0,1.0,1,1,17.0,2,1,1,1.0,2.0,1,2.0,1,2,1.0,1,1,1.0
1118,0.0,57,0.0,2.0,1,2,21.0,1,2,1,2.0,2.0,1,2.0,1,2,1.0,1,1,1.0
1119,0.0,20,0.0,1.0,1,1,17.0,1,1,1,1.0,1.0,1,1.0,1,1,1.0,1,2,1.0

In [17]:
# Handle missing values in 'BLOOD_TYPE'
# Option 1: Fill missing values with a specific value or use a placeholder
df['BLOOD_TYPE'].fillna(0, inplace=True)

# Option 2: Convert 'BLOOD_TYPE' to categorical
df['BLOOD_TYPE'] = df['BLOOD_TYPE'].astype('object')

# Handle missing values in 'LUNG_CANCER'
# Option 1: Fill with a placeholder or mode
df['LUNG_CANCER'].fillna(0, inplace=True)

# Convert 'LUNG_CANCER' to categorical
df['LUNG_CANCER'] = df['LUNG_CANCER'].astype('object')

C:\Users\Vergeena\AppData\Local\Temp\ipykernel_2260\474474361.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['BLOOD_TYPE'].fillna(0, inplace=True)
C:\Users\Vergeena\AppData\Local\Temp\ipykernel_2260\474474361.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['LUNG_CANCER'].fillna(0, inplace=True)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1120 entries, 0 to 1119
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   GENOMIC SEX            1101 non-null   float64
 1   AGE                    1120 non-null   int32
 2   BLOOD_TYPE             1120 non-null   object
 3   NUMBER_OF_SIBLINGS     1120 non-null   float64
 4   PARENT_ALIVE           1120 non-null   int64
 5   SMOKING_STATUS         1120 non-null   int64
 6   DAILY_CIGARETTES       1120 non-null   float64
 7   YELLOW_SKIN            1120 non-null   int64
 8   ANXIETY                1120 non-null   int64
 9   PEER_PRESSURE          1120 non-null   int64
 10  COPD_DIAGNOSES         1120 non-null   float64
 11  FATIGUE                1115 non-null   float64
 12  ALLERGY                1120 non-null   int64
 13  WHEEZING               1120 non-null   float64
 14  ALCOHOL_CONSUMPTION    1120 non-null   int64
 15  COUGHING               1120 non-null   int64
 16  SHORTNESS_OF_BREATH    1120 non-null   float64
 17  SWALLOWING_DIFFICULTY  1120 non-null   int64
 18  CHEST_PAIN             1120 non-null   int64
 19  LUNG_CANCER            1120 non-null   object
dtypes: float64(7), int32(1), int64(10), object(2)
memory usage: 170.8+ KB

In [19]:
# Find the mode of the 'GENOMIC SEX' column
mode_genomic_sex = df['GENOMIC SEX'].mode()[0]

# Fill missing values with the mode
df['GENOMIC SEX'].fillna(mode_genomic_sex, inplace=True)

# Option 2: Convert 'BLOOD_TYPE' to categorical
df['GENOMIC SEX'] = df['GENOMIC SEX'].astype('object')

C:\Users\Vergeena\AppData\Local\Temp\ipykernel_2260\3174264232.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['GENOMIC SEX'].fillna(mode_genomic_sex, inplace=True)

In [20]:
# Print current columns to verify
print("Columns in DataFrame:", df.columns)

# Trim any leading or trailing spaces from column names
df.columns = df.columns.str.strip()

# Verify the updated column names
print("Updated Columns in DataFrame:", df.columns)

# Fill missing values in 'FATIGUE' column
df['FATIGUE'].fillna(0, inplace=True)

# Print DataFrame to see changes
print("Updated DataFrame:")
print(df)

Columns in DataFrame: Index(['GENOMIC SEX', 'AGE', 'BLOOD_TYPE', 'NUMBER_OF_SIBLINGS',
       'PARENT_ALIVE', 'SMOKING_STATUS', 'DAILY_CIGARETTES', 'YELLOW_SKIN',
       'ANXIETY', 'PEER_PRESSURE', 'COPD_DIAGNOSES', 'FATIGUE ', 'ALLERGY ',
       'WHEEZING', 'ALCOHOL_CONSUMPTION', 'COUGHING', 'SHORTNESS_OF_BREATH',
       'SWALLOWING_DIFFICULTY', 'CHEST_PAIN', 'LUNG_CANCER'],
      dtype='object')
Updated Columns in DataFrame: Index(['GENOMIC SEX', 'AGE', 'BLOOD_TYPE', 'NUMBER_OF_SIBLINGS',
       'PARENT_ALIVE', 'SMOKING_STATUS', 'DAILY_CIGARETTES', 'YELLOW_SKIN',
       'ANXIETY', 'PEER_PRESSURE', 'COPD_DIAGNOSES', 'FATIGUE', 'ALLERGY',
       'WHEEZING', 'ALCOHOL_CONSUMPTION', 'COUGHING', 'SHORTNESS_OF_BREATH',
       'SWALLOWING_DIFFICULTY', 'CHEST_PAIN', 'LUNG_CANCER'],
      dtype='object')
Updated DataFrame:
     GENOMIC SEX  AGE BLOOD_TYPE  NUMBER_OF_SIBLINGS  PARENT_ALIVE  \
0            1.0   69        0.0                 5.0             3
1            1.0   74        1.0                 1.0             2
2            0.0   59        2.0                 0.0             2
3            1.0   63        3.0                 3.0             2
4            0.0   63        0.0                 4.0             1
...          ...  ...        ...                 ...           ...
1115         0.0   57        0.0                 3.0             3
1116         0.0   51        0.0                 2.0             2
1117         0.0   65        0.0                 1.0             1
1118         0.0   57        0.0                 2.0             1
1119         0.0   20        0.0                 1.0             1

      SMOKING_STATUS  DAILY_CIGARETTES  YELLOW_SKIN  ANXIETY  PEER_PRESSURE  \
0                  1              17.0            2        2              1
1                  2              29.0            1        1              1
2                  1              17.0            1        1              2
3                  2              20.0            2        2              1
4                  1              17.0            2        1              1
...              ...               ...          ...      ...            ...
1115               1              17.0            1        1              1
1116               2              21.0            1        2              1
1117               1              17.0            2        1              1
1118               2              21.0            1        2              1
1119               1              17.0            1        1              1

      COPD_DIAGNOSES  FATIGUE  ALLERGY  WHEEZING  ALCOHOL_CONSUMPTION  \
0                1.0      2.0        1       2.0                    2
1                2.0      2.0        2       1.0                    1
2                1.0      2.0        1       2.0                    1
3                1.0      1.0        1       1.0                    2
4                1.0      1.0        1       2.0                    1
...              ...      ...      ...       ...                  ...
1115             2.0      2.0        1       2.0                    2
1116             1.0      1.0        1       1.0                    1
1117             1.0      2.0        1       2.0                    1
1118             2.0      2.0        1       2.0                    1
1119             1.0      1.0        1       1.0                    1

      COUGHING  SHORTNESS_OF_BREATH  SWALLOWING_DIFFICULTY  CHEST_PAIN  \
0            2                  2.0                      2           2
1            1                  2.0                      2           2
2            2                  2.0                      1           2
3            1                  1.0                      2           2
4            2                  2.0                      1           1
...        ...                  ...                    ...         ...
1115         2                  1.0                      1           1
1116         1                  2.0                      1           2
1117         2                  1.0                      1           1
1118         2                  1.0                      1           1
1119         1                  1.0                      1           2

     LUNG_CANCER
0            2.0
1            2.0
2            1.0
3            1.0
4            1.0
...          ...
1115         1.0
1116         1.0
1117         1.0
1118         1.0
1119         1.0

[1120 rows x 20 columns]

C:\Users\Vergeena\AppData\Local\Temp\ipykernel_2260\3039446070.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['FATIGUE'].fillna(0, inplace=True)

In [21]:
df.columns

Index(['GENOMIC SEX', 'AGE', 'BLOOD_TYPE', 'NUMBER_OF_SIBLINGS',
       'PARENT_ALIVE', 'SMOKING_STATUS', 'DAILY_CIGARETTES', 'YELLOW_SKIN',
       'ANXIETY', 'PEER_PRESSURE', 'COPD_DIAGNOSES', 'FATIGUE', 'ALLERGY',
       'WHEEZING', 'ALCOHOL_CONSUMPTION', 'COUGHING', 'SHORTNESS_OF_BREATH',
       'SWALLOWING_DIFFICULTY', 'CHEST_PAIN', 'LUNG_CANCER'],
      dtype='object')

In [22]:
independent=df[['GENOMIC SEX','AGE','BLOOD_TYPE','NUMBER_OF_SIBLINGS','PARENT_ALIVE','SMOKING_STATUS','DAILY_CIGARETTES',
                'YELLOW_SKIN','ANXIETY','PEER_PRESSURE','COPD_DIAGNOSES','FATIGUE','WHEEZING','ALCOHOL_CONSUMPTION',
                'COUGHING','SHORTNESS_OF_BREATH','SWALLOWING_DIFFICULTY','CHEST_PAIN']]
independent

,GENOMIC SEX,AGE,BLOOD_TYPE,NUMBER_OF_SIBLINGS,PARENT_ALIVE,SMOKING_STATUS,DAILY_CIGARETTES,YELLOW_SKIN,ANXIETY,PEER_PRESSURE,COPD_DIAGNOSES,FATIGUE,WHEEZING,ALCOHOL_CONSUMPTION,COUGHING,SHORTNESS_OF_BREATH,SWALLOWING_DIFFICULTY,CHEST_PAIN
0,1.0,69,0.0,5.0,3,1,17.0,2,2,1,1.0,2.0,2.0,2,2,2.0,2,2
1,1.0,74,1.0,1.0,2,2,29.0,1,1,1,2.0,2.0,1.0,1,1,2.0,2,2
2,0.0,59,2.0,0.0,2,1,17.0,1,1,2,1.0,2.0,2.0,1,2,2.0,1,2
3,1.0,63,3.0,3.0,2,2,20.0,2,2,1,1.0,1.0,1.0,2,1,1.0,2,2
4,0.0,63,0.0,4.0,1,1,17.0,2,1,1,1.0,1.0,2.0,1,2,2.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1115,0.0,57,0.0,3.0,3,1,17.0,1,1,1,2.0,2.0,2.0,2,2,1.0,1,1
1116,0.0,51,0.0,2.0,2,2,21.0,1,2,1,1.0,1.0,1.0,1,1,2.0,1,2
1117,0.0,65,0.0,1.0,1,1,17.0,2,1,1,1.0,2.0,2.0,1,2,1.0,1,1
1118,0.0,57,0.0,2.0,1,2,21.0,1,2,1,2.0,2.0,2.0,1,2,1.0,1,1
1119,0.0,20,0.0,1.0,1,1,17.0,1,1,1,1.0,1.0,1.0,1,1,1.0,1,2

In [23]:
dependent=df[['LUNG_CANCER']]
dependent

     LUNG_CANCER
0            2.0
1            2.0
2            1.0
3            1.0
4            1.0
...          ...
1115         1.0
1116         1.0
1117         1.0
1118         1.0
1119         1.0

[1120 rows x 1 columns]

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1120 entries, 0 to 1119
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   GENOMIC SEX            1120 non-null   object
 1   AGE                    1120 non-null   int32
 2   BLOOD_TYPE             1120 non-null   object
 3   NUMBER_OF_SIBLINGS     1120 non-null   float64
 4   PARENT_ALIVE           1120 non-null   int64
 5   SMOKING_STATUS         1120 non-null   int64
 6   DAILY_CIGARETTES       1120 non-null   float64
 7   YELLOW_SKIN            1120 non-null   int64
 8   ANXIETY                1120 non-null   int64
 9   PEER_PRESSURE          1120 non-null   int64
 10  COPD_DIAGNOSES         1120 non-null   float64
 11  FATIGUE                1120 non-null   float64
 12  ALLERGY                1120 non-null   int64
 13  WHEEZING               1120 non-null   float64
 14  ALCOHOL_CONSUMPTION    1120 non-null   int64
 15  COUGHING               1120 non-null   int64
 16  SHORTNESS_OF_BREATH    1120 non-null   float64
 17  SWALLOWING_DIFFICULTY  1120 non-null   int64
 18  CHEST_PAIN             1120 non-null   int64
 19  LUNG_CANCER            1120 non-null   object
dtypes: float64(6), int32(1), int64(10), object(3)
memory usage: 170.8+ KB

# Relationship between the asthma disease with affecting parameter.

In [25]:
df.corr()

,GENOMIC SEX,AGE,BLOOD_TYPE,NUMBER_OF_SIBLINGS,PARENT_ALIVE,SMOKING_STATUS,DAILY_CIGARETTES,YELLOW_SKIN,ANXIETY,PEER_PRESSURE,COPD_DIAGNOSES,FATIGUE,ALLERGY,WHEEZING,ALCOHOL_CONSUMPTION,COUGHING,SHORTNESS_OF_BREATH,SWALLOWING_DIFFICULTY,CHEST_PAIN,LUNG_CANCER
GENOMIC SEX,1.000000,0.004071,-0.002821,0.024889,-0.000693,0.039998,0.031364,-0.173816,-0.095588,-0.204657,-0.180548,-0.049863,0.135250,0.110455,0.374606,0.115567,-0.061608,-0.055817,0.297187,0.154825
AGE,0.004071,1.000000,0.015127,0.007564,0.031647,-0.026666,0.038004,-0.016199,-0.008262,0.045609,-0.011810,0.090829,0.034360,0.018541,0.059221,0.066032,0.037973,-0.053096,0.014478,0.121443
BLOOD_TYPE,-0.002821,0.015127,1.000000,-0.007705,0.024136,-0.000637,-0.017372,-0.012009,0.047799,0.001386,-0.004113,-0.025805,0.047681,-0.009506,0.025910,0.026358,0.007446,0.011155,-0.012061,-0.005558
NUMBER_OF_SIBLINGS,0.024889,0.007564,-0.007705,1.000000,-0.032358,0.030272,-0.014146,0.028097,0.023897,0.026780,0.036721,0.013163,0.041782,-0.021707,-0.004697,-0.030041,0.034686,0.033167,-0.020455,0.019255
PARENT_ALIVE,-0.000693,0.031647,0.024136,-0.032358,1.000000,0.020189,-0.037882,0.000995,-0.008793,0.007942,-0.007137,0.057846,-0.019063,0.017768,0.000964,0.042044,0.021000,0.025453,0.017792,0.059317
SMOKING_STATUS,0.039998,-0.026666,-0.000637,0.030272,0.020189,1.000000,0.046710,-0.015946,0.148857,-0.046646,-0.128062,-0.019233,-0.001631,-0.101888,-0.032122,-0.106417,0.047572,0.028487,0.103044,0.065572
DAILY_CIGARETTES,0.031364,0.038004,-0.017372,-0.014146,-0.037882,0.046710,1.000000,-0.023996,-0.019905,-0.022622,-0.032180,0.025924,0.012284,0.030569,0.028837,0.022697,0.028332,-0.013778,0.032689,0.029890
YELLOW_SKIN,-0.173816,-0.016199,-0.012009,0.028097,0.000995,-0.015946,-0.023996,1.000000,0.462447,0.280985,0.015193,-0.093313,-0.108392,-0.053237,-0.261837,0.010724,-0.087108,0.306781,-0.097542,0.121959
ANXIETY,-0.095588,-0.008262,0.047799,0.023897,-0.008793,0.148857,-0.019905,0.462447,1.000000,0.172977,-0.028210,-0.166244,-0.097084,-0.158136,-0.131205,-0.169047,-0.136068,0.394383,-0.111449,0.135317
PEER_PRESSURE,-0.204657,0.045609,0.001386,0.026780,0.007942,-0.046646,-0.022622,0.280985,0.172977,1.000000,0.055796,0.078960,-0.048419,-0.048512,-0.147184,-0.069661,-0.170672,0.306682,-0.069966,0.142992
COPD_DIAGNOSES,-0.180548,-0.011810,-0.004113,0.036721,-0.007137,-0.128062,-0.032180,0.015193,-0.028210,0.055796,1.000000,-0.089423,0.081987,-0.021990,-0.005967,-0.160031,-0.017115,0.081642,-0.014989,0.052097
FATIGUE,-0.049863,0.090829,-0.025805,0.013163,0.057846,-0.019233,0.025924,-0.093313,-0.166244,0.078960,-0.089423,1.000000,0.003990,0.129684,-0.139492,0.109029,0.352111,-0.097733,-0.003300,0.164900
ALLERGY,0.135250,0.034360,0.047681,0.041782,-0.019063,-0.001631,0.012284,-0.108392,-0.097084,-0.048419,0.081987,0.003990,1.000000,0.145036,0.290738,0.137955,-0.025236,-0.052311,0.176885,0.242722
WHEEZING,0.110455,0.018541,-0.009506,-0.021707,0.017768,-0.101888,0.030569,-0.053237,-0.158136,-0.048512,-0.021990,0.129684,0.145036,1.000000,0.204697,0.301813,0.024848,0.073110,0.080101,0.183159
ALCOHOL_CONSUMPTION,0.374606,0.059221,0.025910,-0.004697,0.000964,-0.032122,0.028837,-0.261837,-0.131205,-0.147184,-0.005967,-0.139492,0.290738,0.204697,1.000000,0.165353,-0.145326,-0.003864,0.279909,0.190214
COUGHING,0.115567,0.066032,0.026358,-0.030041,0.042044,-0.106417,0.022697,0.010724,-0.169047,-0.069661,-0.160031,0.109029,0.137955,0.301813,0.165353,1.000000,0.215785,-0.137514,0.076343,0.164749
SHORTNESS_OF_BREATH,-0.061608,0.037973,0.007446,0.034686,0.021000,0.047572,0.028332,-0.087108,-0.136068,-0.170672,-0.017115,0.352111,-0.025236,0.024848,-0.145326,0.215785,1.000000,-0.136620,0.022997,0.042330
SWALLOWING_DIFFICULTY,-0.055817,-0.053096,0.011155,0.033167,0.025453,0.028487,-0.013778,0.306781,0.394383,0.306682,0.081642,-0.097733,-0.052311,0.073110,-0.003864,-0.137514,-0.136620,1.000000,0.044761,0.178627
CHEST_PAIN,0.297187,0.014478,-0.012061,-0.020455,0.017792,0.103044,0.032689,-0.097542,-0.111449,-0.069966,-0.014989,-0.003300,0.176885,0.080101,0.279909,0.076343,0.022997,0.044761,1.000000,0.143849
LUNG_CANCER,0.154825,0.121443,-0.005558,0.019255,0.059317,0.065572,0.029890,0.121959,0.135317,0.142992,0.052097,0.164900,0.242722,0.183159,0.190214,0.164749,0.042330,0.178627,0.143849,1.000000

In [26]:
df1=df.to_csv("Pre_Lungcancer")